* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  width: 500px;
  height: 805px;
  border: 1px solid black;
  margin: 0 auto;
  overflow: auto;
}

p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2rem;
}

li {
  list-style-type: none;
}

.search {
  position: relative;
  display: inline-block;
  width: 100%;
}

.search input {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  padding: 20px;
  max-height: 40px;
  font-size: 1.1rem;
  background-color: lightgrey;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  color: black;
}

.search input:focus::placeholder {
  color: transparent;
}

.search .image {
  position: absolute;
  height: 32px;
  top: 5px;
  right: 10px;
}

.data-box {
  padding: 20px;
}

.meaning {
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

button {
  text-transform: capitalize;
  background: lightgrey;
  padding: 10px;
  width: 8rem;
  border: none;
  outline: none;
}

.button-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.tab {
  display: inline-block;
  margin-left: 20px;
}

.no-synonim {
  margin-left: 33%;
}
