* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.search {
  position: relative;
  display: inline-block;
  width: 100%;
}

.search input {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  padding: 20px;
  max-height: 40px;
  font-size: 1.1rem;
}

.search .image {
  position: absolute;
  height: 30px;
  top: 5px;
  right: 5px;
}

.App {
  width: 500px;
  height: 805px;
  border: 1px solid black;
  margin: 0 auto;
}

p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
